.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: end;
  border: 1px solid #fff;
  margin: 0 0 9px 18px;
  background: url('../../../images/profile__edit-button_l.png') center no-repeat;
  cursor: pointer;
  grid-area: edit;
  justify-self: left;
  outline: none;
  transition: opacity .5s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0 0 8px 3px;
    background: url('../../../images/profile__edit-button_s.png') center no-repeat;
  }
}
