.form__field {
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  outline: none;
}

.form__field::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 767px) {
  .form__field {
    width: 238px;
  }
}
