.form__field {
    width: 358px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    outline: none;
  }

.form__field::placeholder {
    color: #C4C4C4;
}

  @media screen and (max-width: 767px ) {
    .form__field {
      width: 238px;
    }
  }    