.form__field-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 33px;
    left: 0;
}