.profile {
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2,minmax(216px, 1fr));
    grid-template-columns: repeat(4, minmax(216px, 1fr));
    gap: 16px 30px;
    grid-template-areas:
    "logo title . button"
    "logo subtitle . button";
    padding: 0 0 50px 0;
    box-sizing: border-box;
}