.elements__item-text {
    max-width: 282px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}