.profile {
  display: grid;
  width: 90%;
  max-width: 880px;
  box-sizing: border-box;
  padding: 40px 0 50px;
  margin: 0 auto;
  gap: 0;
  grid-template-areas:
    'logo title edit button'
    'logo subtitle . button';
  grid-template-columns: 120px max-content auto 150px;
}

@media screen and (max-width: 977px) {
  .profile {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    align-items: center;
    padding: 42px 0 36px;
    grid-template-areas:
      'logo logo'
      'title edit'
      'subtitle subtitle'
      'button button';
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-items: center;
  }
}
