.profile__subtitle {
    max-width: 300px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: subtitle;
    margin: 0 0 0 30px;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 977px) {
    .profile__subtitle {
        max-width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 36px 0;
    }
}