.profile__subtitle {
  overflow: hidden;
  max-width: 300px;
  align-self: start;
  margin: 0 0 0 30px;
  font-size: 18px;
  font-weight: 400;
  grid-area: subtitle;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 977px) {
  .profile__subtitle {
    max-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    margin: 6px 0 33px;
    font-size: 14px;
    line-height: 17px;
  }
}
