.elements {
  display: grid;
  width: 90%;
  max-width: 880px;
  justify-content: center;
  padding: 0 0 66px;
  margin: 0 auto;
  gap: 20px 17px;
  grid-auto-rows: 367px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
}

@media screen and (max-width: 767px) {
  .elements {
    max-width: 282px;
    padding: 0 0 48px;
  }
}
