.profile__add-button {
    width: 150px;
    height: 50px;
    background: url(../../../images/profile__add-button.png) center no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    grid-area: button;
    align-self: center;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
    }
}