.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  border: 2px solid #fff;
  background: url('../../../images/profile__add-button_l.png') center no-repeat;
  border-radius: 2px;
  cursor: pointer;
  grid-area: button;
  outline: none;
  transition: opacity .5s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    background: url('../../../images/profile__add-button_s.png') center no-repeat;
  }
}
