.profile__title {
  overflow: hidden;
  max-width: 300px;
  align-self: end;
  margin: 0 0 0 30px;
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 977px) {
  .profile__title {
    max-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    padding: 0 17px 1px 35px;
    margin: 26px 0 0;
    font-size: 27px;
    justify-self: right;
    line-height: 33px;
  }
}
