.footer {
  display: flex;
  width: 90%;
  max-width: 880px;
  justify-content: flex-start;
  padding: 0 0 60px;
  margin: 0 auto;
}

@media screen and (max-width: 977px) {
  .footer {
    max-width: 581px;
    padding: 0 0 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    padding: 0 0 36px;
  }
}
