.elements__like-button {
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
  background-image: url(../../../images/elements_like-btn.svg);
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  outline: none;
  transition: opacity 0.5s;
}

.elements__like-button:hover {
  opacity: 0.5;
}
