.elements__like-button {
    border: none;
    background-color: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px; 
}

.elements__like-button:hover {
    opacity: 0.5;
    fill: black;
}