.elements__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19.3px;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/elements__trash-button.svg');
  cursor: pointer;
  outline: none;
  transition: opacity .5s;
}

.elements__trash-button:hover {
  opacity: .6;
}
